{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {"node": "6"},
        "modules": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["emotion", "@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "test": {
      "plugins": [["emotion", {"sourceMap": true, "autoLabel": true, "labelFormat": "⚡[local]"}], "require-context-hook"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true, "autoLabel": true, "labelFormat": "⚡[local]" }]]
    }
  }
}
